.article-grid{
    padding-top:15px ;
    padding-left: 5px;
    padding-right: 5px;
}
a {
    text-decoration: none;
}
#article-nav{
    color:#2980b9 !important;
    font-weight: 700;
}
